head{
    font-family: Montserrat;
}

body{
    font-family: Montserrat;
}

#header{
    background-color: #152237;
    color: white;
}
#titre{
    background: linear-gradient(to right, #44DD8A, #15B7E2) ;
    text-align: center;
    font-weight: bolder;

}
#butongreen{
    background-color: #44DD8A;
}
#butongreenblue{
    background: linear-gradient(to right, #44DD8A, #15B7E2) ;
}
#petitlogo{
    height: 31px;
    width: 84px;
    margin-left: 98px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#biglogo{
    height: 155px;
    width: 430px;
    
}
#bottomlogo{
    height: 87px;
    width: 243px;
    margin-left: 96px;
    margin-top: 109px;
}
#footer{
    background-color: #152237;
    color: white;
}
#formrec{
    background-color: #152237;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;
    padding: 50px;

}
.box {
    color: white;
    width: 362px;
}

#etoile {
    color: #FFC700;
}

a.buttongb {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: 152237;
    background: linear-gradient(to right, #44DD8A, #15B7E2) ;
    text-decoration: none;
}

a.buttonb {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background:#152237 ;
    text-decoration: none;
}

a.buttonw {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: #152237;
    background:white ;
    text-decoration: none;
    text-align: center;
}
.containerbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin-top: 40px;
}
.invi{
    opacity: 0.33;
}