head{
    font-family: Montserrat;
}

body{
    font-family: Montserrat;
    margin: 0px;
}

#header{
    background-color: #152237;
    color: white;
}
#titre{
    background: linear-gradient(to right, #44DD8A, #15B7E2) ;
    text-align: center;
    font-weight: bolder;

}
#butongreen{
    background-color: #44DD8A;
}
#butongreenblue{
    background: linear-gradient(to right, #44DD8A, #15B7E2) ;
    height: 40px;
}
#petitlogo{
    height: 31px;
    width: 84px;
    margin-left: 98px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#biglogo{
    height: 155px;
    width: 430px;
    
}
#bottomlogo{
    height: 87px;
    width: 243px;
    margin-left: 96px;
    margin-top: 109px;
}
#footer{
    background-color: #152237;
    color: white;
}
#formrec{
    background-color: #152237;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;
    padding: 50px;

}
.box {
    color: white;
    width: 362px;
}

#etoile {
    color: #FFC700;
}
a.buttongb {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: #152237;
    background: linear-gradient(to right, #44DD8A, #15B7E2) ;
    text-decoration: none;
    height: 40px;
    margin-top: 20px;
}

a.buttonb {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background:#152237 ;
    text-decoration: none;
}

a.buttonw {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: #152237;
    background:white ;
    text-decoration: none;
    text-align: center;
    height: 40px;
    margin-top: 20px;
}
.containerbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin-top: 40px;
}
.invi{
    opacity: 0.33;
}
.boxW {
    color: #152237;
    width: 362px;
}
.containerboxW {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin-top: 40px;

}
#formpop{
    color: #152237;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;
    padding: 50px;

}

.containerbox5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    margin-top: 40px;
}
#adv{
    background-color: #F5F5F5;
       margin-top: 0px;
       margin-bottom: 0px;
}
#creaform{
    background-color: #44DD8A;
 
}
.containerbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin-top: 40px;
}
#propos{
    background-color: #F5F5F5;
}
#biglogo{
    height: 150px;
    width: 430px;
margin-right: auto;
    background-color: #152237;
}
.containerapropos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    margin-top: 0px;
}
.containeraproposlogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
background-color: #152237;
margin-right: 100px;

}

@media (max-width: 768px) {

  .containerbox, .containerboxW, .containerbox5 {
    grid-template-columns: 1fr !important;
    gap: 10px !important;
    margin: 20px auto !important;
  }

  #formpop, #formrec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px !important;
    gap: 20px;
  }

  #adv, #creaform, #propos, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
 
  #petitlogo, #biglogo, #bottomlogo {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 10px auto;
  }

  a.buttonb, a.buttonw, a.buttongb,
  #butongreen, #butongreenblue {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
 
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  #footer button {
    width: 100%;
    max-width: 250px;
    margin: 5px 0;
  }

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.25em; }
  h3 { font-size: 1em; }
}